body {
    margin: 0;
    padding: 0;
    font-family: Raleway, Arial;
    font-size: 16px;
    padding-top: 100px;
}

header {
    width: 100%;
    background-color: #ffcb00;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    position: fixed;
    top: 0;

}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    transition: all .5s;
}

header nav ul li a:hover {
    color: #f00;
}

.banner img {
    width: 100%;
}

main h1,
footer p {
    text-align: center;
}

main {
    background-color: #ccc;
    width: 1000px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 33%)
}

.grid .coluna img {
    width: 100%;
}

.grid .coluna {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.btn {
    background-color: #ffcb00;
    text-decoration: none;
    padding: 10px;
    padding: 10px 30px;
    color: #f00;
    border-radius: 100px;
    transition: all .5s;
}

.btn:hover {
    background: #f00;
    color: #fff;
}

footer {
    background-color: #ffcb00;
    padding: 20px 0;
}

footer a {
    background: #fff;
    text-decoration: none;
    margin: 20px;
    color: #f00;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    transition: all .5s;
}

footer a:hover {
    background-color: #f00;
    color: #fff;
}

.menu {
    display: none;
}

@media(max-width: 420px) {
    .banner {
        display: none;
    }

    main {
        width: 100%;
    }

    .grid {
        grid-template-columns: 100%;
    }

    header nav ul {
        display: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    header nav ul li {
        width: 100%;
    }

    header nav {
        display: none;
    }

    header img {
        width: 300px;
    }

    .menu {
        display: block;
        border: 1px solid #fff;
        padding: 15px 10px;
        color: #fff;
        float: right;
    }

}